@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext');

body {
	line-height: 1.4;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.container {
	padding: 0 30px;
	margin: auto;
	width: 960px;
}

nav {
	height: 100px;
	background-color: #343434;
}

nav ul {
	text-align: center;
	margin: 0;
}

nav ul li {
	list-style: none;
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	padding: 0 10px;
	text-transform: uppercase;
	line-height: 100px;
	color: #fff;
}

.close {
	text-decoration: none;
	display: block;
	text-align: right;
	margin-top: 10px;
	font-size: 20px;
	font-weight: 700;
	color: #000;
}

section {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

article {
	float: left;	
}

.col-40p {
	width: 40%;
	padding-right: 15px;
}

.col-60p {
	height: 60%;
	padding-left: 15px;
}

article p {
	text-align: justify;
}

img {
	margin-top: 50px;
}

table {
	width: 960px;
}

tr {
	height:40px;
	text-align: center;
	text-transform: uppercase;
}

tr:nth-child(odd) {
	background-color: #e2e2e2;
}

tr:first-of-type{
	background-color: transparent;
	text-transform: none;
}

tr:first-of-type td {
	border-right: 1px solid #e2e2e2;
}

tr:first-of-type td:last-of-type {
	border-right: none; 
}

td {
	border-collapse:collapse;
}

.i-text {
	font-style: italic;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}